[2017-05-16 08:34] liach opened #1 "Railways to connect seas"

[2017-05-16 09:47] LizzyTrickster commented on #1
This is an issue tracker for the server running / modpack, not for in game stuff...

[2017-05-16 09:47] #1 closed

[2017-05-16 10:24] Elourge opened #4 "Quark Tomes cannot be Combined in an anvil"
For example a Power 5 Tome and a Power 5 Enchanted Book should be able to combine into a Power 6 Enchanted Book for 35 levels as suggested in the wiki page
http://quark.vazkii.us/#misc-ancient-tomes

However the result is that the combination is too expensive, even for Railcraft's steel anvil which boast a higher level cap.

[2017-05-16 10:28] Elourge commented on #4
Further investigation shows that the config has been adjusted so that the cost to combine the books has been increased to Lvl50, therefore this issue lies with the Railcraft Anvil not being able to combine them

[2017-05-16 10:39] Forecaster commented on #4
I have no idea how powerful that is and if it should be permitted, but the options are either to leave it be, re-configure Quark(?) to allow it, or that @CovertJaguar increases the cap of the steel anvil further.

Or, perhaps someone should make a mod that adds a diamond anvil if one does not already exist.

[2017-05-16 10:41] Forecaster opened #5 "Update Open Modular Turrets and OMTlib to fix EU usage bug"

[2017-05-16 10:52] hanakocz opened #6 "Mod update: WIRED"
1.6.2->1.6.4 versions
https://minecraft.curseforge.com/projects/wired-more-augs/files/2415682

**1.6.4**
**Fixed**
  Monster Spawns
  -  No longer attempt to give nonexistent items to Zombies or Skeletons.
  Loot Tables
  -  Redid Power Bar and Energy Drink checks for loot generation.

**1.6.3**
**Changed**
  Tech-Visor
  -  Module System -  Combine a Tech Visor with a Hudjack, Lowlight Vision Mod

[2017-05-16 10:57] Forecaster opened #7 "More anvils"
https://minecraft.curseforge.com/projects/more-anvils

For more anvils!

[2017-05-16 10:58] Forecaster commented on #4
#7 This may help

[2017-05-16 11:41] Generalcamo commented on #4
This is intentional. These are supposed to be the most powerful forms of the enchantment.

[2017-05-16 16:05] liach opened #8 "Iron boots with old scrapping ench cannot have enchantments added to it"
FYI Scrapping was removed.

[2017-05-16 16:29] #8 closed

[2017-05-16 16:32] CovertJaguar commented on #4
@Generalcamo intentional that you cannot use them at all? Seems kind of stupid way to achieve that. Are you the one who set them at 50?

[2017-05-16 18:18] Generalcamo commented on #4
I thought this issue was only for combining books?

[2017-05-16 18:43] liach commented on #8
Well that iron boots is masterful, I don't know how can I get another masterful one... It's rare!

[2017-05-16 19:53] Forecaster commented on #4
May need @Elourge to clarify if the issue is just combining the tome into a lvl 6 book, or using them otherwise

[2017-05-17 00:15] CovertJaguar commented on #8
I don't know what you want me to do about it... edit the NBT tag?

[2017-05-17 00:30] liach commented on #8
Guess you should just delete the enchant tag, things will be fine

[2017-05-17 05:52] Elourge commented on #4
I tested setting the level to combine books to 39 and it works, so the problem lies with railcraft anvil not actually increasing the cap it seems. any thing above that doesnt work

[2017-05-17 07:02] hanakocz commented on #6
1.6.4->1.7.0 !!!ALPHA!!! - but let us have it covered
https://minecraft.curseforge.com/projects/wired-more-augs/files/2420383

This is an ALPHA release. While everything tested fine locally I was unable to do extensive testing beyond does it launch, does it not crash on a server, and did the changes work. Any ancillary changes have not been tested.

1.7.0
**Added**
  Items
  -  Ore Surveying Modul

[2017-05-17 08:19] CovertJaguar commented on #8
Are you wearing it? Ping me sometime with it in your inventory and I'll fix it.

[2017-05-17 08:20] CovertJaguar commented on #4
Eh?

[2017-05-17 09:02] hanakocz commented on #4
Their only usage is to combine them with book to get that better book, they cannot be used directly at all.

[2017-05-17 09:15] CovertJaguar commented on #4
From what I can tell, the Tome could charge 1 million levels and still work fine.

The only issue I see is that the GUI renders a different string if the cost is over the "expected max", but this has zero input on whether it actually works or not.

The event that Quark hooks, directly replaces all code dealing with max costs. So if quark doesn't care about cost, then the Anvil won't either.

[2017-05-17 09:48] CovertJaguar commented on #4
Testing confirms the previous analysis. There is no issue here.

[2017-05-17 09:48] #4 closed

[2017-05-17 10:17] hanakocz opened #9 "Mod update: Grue"
1.3.4 -> 1.3.5
https://minecraft.curseforge.com/projects/grue/files/2418764

-  The grue timer can now be reduced down to a single second, and increased up to a minute
-  Brightness calculations have been tweaked to take skylight into consideration (no more grues spawning under a tree)

Note: the second change is really useful, as some more dense forests do trigger Grue now, even when there is eno

[2017-05-18 07:31] liach opened #10 "Make a mod that adds electric crowbar"
I think we can add an electric version of crowbar for ic2 on the server.

[2017-05-18 07:33] Forecaster commented on #10
An electric crowbar makes no sense whatsoever.

[2017-05-18 07:34] liach commented on #10
Why? Electricity just provides for durability.

[2017-05-18 07:43] LizzyTrickster commented on #10
That just seems like a stupid adition to a crowbar

Screwdrivers/wrenches make sense, a crowbar does not unless you want to kill the user....

[2017-05-18 11:29] Generalcamo commented on #10
I see no reason to add this.

[2017-05-18 11:29] #10 closed

[2017-05-18 18:41] Ashoneeplayswithballs opened #12 "Empty item list for Adventurer's Backpack from forestery mod"
The Adventurer's Backpack is a portable storage item, and behaves just like other Backpacks. It has 15 inventory slots which hold NO predefined items. Player has to manually edit the config file and place item ID's for this backpack to be useful in any way. Can be upgraded into a Woven Adventurer's Backpack.
NOTE: To change which items go into Adventurer's Backpack, locate Forestry configuration f

[2017-05-18 18:53] Forecaster commented on #12
It's not empty. It contains these items:

[code]

Feel free to suggest things that are missing

[2017-05-18 20:42] Webcat1 opened #13 "IC2 Block Cutting Machine is not cutting Oak Wood into Planks"

[2017-05-18 20:52] Forecaster commented on #12
Perhaps it could also contain vanilla maps, compass and bibliocraft compass?

[2017-05-19 14:14] Forecaster opened #14 "Remove furnace charcoal recipes in favor of Forestry charcoal pit"
~~Also remove Foundry coke oven charcoal recipe if it exists and is too fast (need to test)~~

[2017-05-19 14:32] Generalcamo commented on #14
That other charcoal recipe does not exist. Not defined.

[2017-05-19 17:09] Ashonee75 opened #15 "Please consider adding reforging for ic2 tools"
I'm hoping we can define reforging for ic2 tools, specifically drills, chainsaws, electric wrench, treetap and hoe.

I'm going to suggest an electronic circuit as the reforging part. as it is part of the small power unit used in crafting.  it also has a reasonable cost of 1 iron, 2 copper, 2 redstone, and 6 rubber.

Thank you and have a great day!

[2017-05-19 18:36] Generalcamo commented on #15
With very little scaling, I doubt that is too balanced.

I propose instead:
1 Iron Plate (Most Tools)
1 Bronze Plate (Electric Wrench)
1 Diamond (Diamond Drill)
1 Iridium Reinforced Plate (Iridium Drill)

[2017-05-20 18:06] CovertJaguar commented on #15
First question....do the buffs even work?

[2017-05-20 18:14] liach commented on #15
I think they do.

[2017-05-21 01:03] liach opened #16 "Track Recipe does not use railbed but uses wooden sticks instead"
Things are fine with electric tracks. This issue only applies to vanilla tracks. However, rails are still required.

[2017-05-21 01:57] CovertJaguar commented on #16
Odd..

[2017-05-21 08:53] Webcat1 opened #17 ""Potion of Fire Resistance (3:00)" + Redstone makes "Potion of Heat Resistance (2:00)" instead of "Potion of Fire Resistance (8:00)""

[2017-05-21 09:34] Ristellise opened #18 "Updater.py"
https://github.com/Joshwoo70/RailcraftPackUpdater

[2017-05-21 10:15] Forecaster commented on #18
I didn't mean to post the link here...

[2017-05-21 10:15] #18 closed, assigned to nobody

[2017-05-21 19:58] Forecaster opened #19 "Add recycling recipes to foundry"
Smelting down things like undamaged armor, weapons, buckets, railcraft plates and maybe more to their component metal.

[2017-05-21 20:54] purpleposeidon opened #20 "IC2 ashes + apatite -> fertilizer recipe removed?"

[2017-05-21 20:59] liach commented on #16
@Forecaster This is a confirmed bug.

[2017-05-21 21:04] purpleposeidon opened #21 "Foundry coke not convertible to RC coke."
![image](https://cloud.githubusercontent.com/assets/150333/26287339/39cfa2b8-3e2e-11e7-908f-7fd9ef20ba67.png)
![image](https://cloud.githubusercontent.com/assets/150333/26287342/42541fcc-3e2e-11e7-8948-26c839d6b6e6.png)

[2017-05-22 00:14] Generalcamo commented on #16
I know why. It seems one of the mods adds a recipe utilizing oreDict sticks. This should be rather simple to remove, though I would like to figure out which one for future reference.

[2017-05-22 00:15] Generalcamo commented on #20
Forestry Hard Mode configs do not allow for Ash (any type) to be turned to fertilizer. The old recipe was a mistake due to some messed up config files.

You can still turn it into Compost.

[2017-05-22 00:15] #20 closed, assigned to nobody

[2017-05-22 00:16] Generalcamo commented on #19
@Forecaster Could do this. I believe there should be a waste however like there is in Vanilla (1.11). Maybe not quite so extreme, but what are your thoughts?

[2017-05-22 00:18] Generalcamo commented on #15
In my testing they do. The wrench currently doesn't have any buff, but bonuses to their reach would be interesting (and also works in testing).

[2017-05-22 02:28] Generalcamo commented on #17
See https://github.com/Glitchfiend/ToughAsNails/issues/229

[2017-05-22 09:55] CovertJaguar commented on #16
I'm going to guess BoP, since it adds all the sticks.

[2017-05-22 11:41] CovertJaguar commented on #21
Fixed

[2017-05-22 11:41] #21 closed, assigned to nobody

[2017-05-22 11:42] CovertJaguar commented on #13
@sfPlayer1 poke

[2017-05-23 05:18] Elourge opened #22 "Cannot Log in"
Title

I am unable to join, Every time I attempt to it get
Internal Exception: java.IOException: An existing connection was forcibly closed by a remote host

Covert has posted this log from when I am kicked

https://gist.github.com/CovertJaguar/4dedcd29ff6988b475a98abcc3f199f0

[2017-05-23 06:14] Elourge opened #23 "Crop Biome Limiter"
https://minecraft.curseforge.com/projects/crop-biome-limiter

Makes it possible for certain crops to grow in certain biomes.
A lot of config would need to be done for Pams and Natura since other crops are disabled by default

Game play wise, it would encourage trading between players in different biomes
Not sure how it would work with Forestry's greenhouses or ic2 crops

Additionally, according to

[2017-05-23 21:19] Elourge commented on #22
Should be fixed once server updates to 1.16 as that includes the antique atlas fix

[2017-05-23 21:20] Generalcamo commented on #23
Natura crops are disabled, so that will not be necessary

[2017-05-24 07:13] Forecaster commented on #19
I'd be fine with not getting 100% back even if non-damaged. If it's feasible to enable smelting damaged items and get a percentage back that'd be cool, but otherwise you'd just have to combine items to fully repair them before smelting them which is also fine.

[2017-05-24 08:46] Forecaster commented on #6
Done. Also added Scannable.

[2017-05-24 08:46] #6 closed

[2017-05-24 08:47] #5 closed

[2017-05-24 08:48] #9 closed

[2017-05-24 08:50] Forecaster commented on #14
Not going to do this. Charcoal pits are too hard to use and/or bugged. I tried in single player and was unable to get one started.

[2017-05-24 08:50] #14 closed, assigned to Forecaster

[2017-05-24 08:54] Forecaster commented on #23
From todo list:
`"Add system for custom biome types. This will probably be temperature and rainfall based."`

I'm unsure if this means it's not compatible with BoP biomes and similar. That might be an issue.

[2017-05-24 09:34] hanakocz commented on #19
I say no loss for things like RC plates and similar. For things like armors...some loss is possible, they are not so easy to find anymore, though (only dungeon loot or crafting). (but still there is a lot of them prior to armor drop nerf). However probably only full durability ones, if any.

[2017-05-24 09:38] hanakocz commented on #23
It looks like cool concept, but I am little worried about that from experience with finite water...We live by river, have crops by the coast of that river, but probably it is not technically right biome to grow the crops (dunno if that is forest or what). If this will be a thing, then we need to be cautious.

[2017-05-24 10:04] Forecaster commented on #23
That's the whole point

[2017-05-24 23:33] CovertJaguar commented on #23
Eh the water thing is a bug anyway.

[2017-05-25 00:17] Generalcamo commented on #14
I was actually successful in making charcoal, but I did warn you that they were finicky and not user-friendly.

We can revisit this for the 1.11 series, when Charcoal Pits are not as finicky.

[2017-05-25 00:18] Generalcamo commented on #19
Damage percentage might require some special code in Foundry. Not so bad since we already have a custom build, just need to look into that.

[2017-05-25 00:19] Generalcamo commented on #23
@Forecaster Most of BoP's biomes are registered with Forge's biome types. That To-Do item might be referring to custom types, like say Thaumcraft's Flux Biomes.

[2017-05-25 10:26] Elourge commented on #23
At the moment its seems that configurations for any non vanilla biomes have to be done manually.
So Pam's crops and Biomes o Plenty will have to be added manually.

He also asks for pastebins of any custom configs for using this with other mods, probably to help him with supporting those mods naturally

[2017-05-25 11:06] Forecaster commented on #14
I was told they were poorly documented. Not that they were buggy multiblocks.

[2017-05-25 13:28] Kenkron opened #24 "Metal Caster, Iron Gear, Catch 22"
In 1.15

As I understand it, in order to make a *Metal Caster*, the recipe should require two *Brass Gears*. Instead, the recipe requires two *Iron Gears*.

![screenshot_20170525_082430](https://cloud.githubusercontent.com/assets/1354242/26451695/1f29aa58-412b-11e7-8066-01a0f9c93d04.png)

Attempting to use *Brass Gears* doesn't work.

![screenshot_20170525_090900](https://cloud.githubusercontent.c

[2017-05-25 13:35] Kenkron commented on #24
UPDATE:

While the iron gear recipe *LOOKS* like it works, it actually doesn't.  I can't pull it out of the crafting table.

[2017-05-25 15:01] CovertJaguar commented on #24
Could it be that you didn't put the craft tweaker scripts folder in the root directory? And your client is using the wrong recipes.

I made one the other day (on 1.15) and it used Brass Gears just fine.

[2017-05-25 15:04] CovertJaguar commented on #23
I'm cool with this, if someone else writes the config. ;)

[2017-05-25 15:57] liach commented on #15
@Generalcamo Can you fix this real soon? This feature has became more important to me

[2017-05-25 17:44] CovertJaguar commented on #12
Done

[2017-05-25 17:44] #12 closed

[2017-05-26 04:16] Ristellise opened #25 "NuclearCraft"
https://minecraft.curseforge.com/projects/nuclearcraft-mod

MOAR EU

on a more serious not.. it is up to you if you wanna include it. it supports EU as of 1.10 versions

[2017-05-26 04:57] liach commented on #25
personally I don't like that, looks like a RF mod

[2017-05-26 07:24] hanakocz commented on #25
We would not have ores for that. Also yes, it is mainly RF mod, both in usage, wiki (well all the wiki has are fuels and RF they produce...), and also probably even code-wise. ~~And it looks like it has no explosions.~~ By issues on github it should rather crash the server instead of explosion...yay...
No radioactivity, poor compability with IC2 except EU/HU outputs (according to github issues tha

[2017-05-26 08:20] Forecaster commented on #25
This has too much overlap with ic2 in my opinion. We've got nuclear power already. I know if also has fusion reactors and stuff but no.

[2017-05-26 08:20] #25 closed, assigned to nobody

[2017-05-26 15:13] Kenkron commented on #24
I did a clean download again, and it worked a bit, then didn't work a bit. I have no real idea why it's acting up, but I wonder if there is a race condition during loading.  Like, JEI has to look at item recipes, and CraftTweaker has to change recipes, and maybe they're not doing it in the right order all the time.

[2017-05-26 16:02] liach commented on #24
As far as I know, recipes are determined by the server, without client modifications necessary

[2017-05-27 06:16] CovertJaguar opened #26 "OMPD Fence Recipes"
Currently Tier 5 is cheaper than Tier 4. Change to require previous levels?

[2017-05-27 06:32] liach commented on #13
As I see, this only happens on oak; jungle logs are fine.

[2017-05-28 01:41] Generalcamo commented on #26
I thought of this. Balancing that recipe seems a bit difficult though.

[2017-05-28 05:33] Forecaster commented on #26
Requiring the previous tier sounds like a good solution

[2017-05-28 21:11] #22 closed, assigned to nobody

[2017-05-28 22:00] Generalcamo commented on #26
The problem that I had was that the recipe produces 5 fence blocks, but takes 4 iron bars. I could flip the recipes (making it require 5 fence blocks, and 4 misc materials), but I'm not sure how that would feel for the balance of the mod.

[2017-05-28 23:13] Forecaster opened #27 "Update railcraft & computronix"

[2017-05-28 23:14] Forecaster opened #28 "Update ic2"

[2017-05-29 07:22] liach opened #29 "Add coal dust as dyeBlack"

[2017-05-29 08:33] CovertJaguar commented on #27
Poke @Hanakocz for RCC too, I probably broke it as well.

[2017-05-29 08:34] CovertJaguar commented on #24
@liach this is true, but JEI is clientside, and it won't actually display the output if the client has different recipes, even if it will craft it.

[2017-05-29 12:51] Generalcamo commented on #29
Coal isn't used as a dye (not in its direct form anyway), so not sure if this makes any sense.

In my research however, it turns out that Coal Tar is refined into dyes, so maybe Creosote could be turned into a dye? But I disagree with turning Coal Dust into a dye.

[2017-05-29 13:09] Forecaster commented on #29
I'm fine with it. It adds another use for something that is relatively abundant and may result in fewer squid deaths.

[2017-05-29 14:29] Oeniarku opened #30 "IC2 canned food duplicates cans after consumption and breaks Spice Of Life mechanics."

[2017-05-29 14:59] Forecaster commented on #30
Tested in single player and cans did not duplicate.

Also the title contains two separate issues.

[2017-05-29 15:00] Generalcamo commented on #30
Breaking spice of life mechanics is an IC2 "bug" as far as I can tell. It isn't treated as a proper food.

[2017-05-29 15:20] Oeniarku commented on #30
I have found 12 Filled Tin Can. Now I have 64+ empty tin cans. And I did not make them. Just filling with rotten flesh and eating.

[2017-05-29 16:07] Forecaster commented on #30
Oh, it's the bad ones specifically?

[2017-05-29 16:24] Oeniarku commented on #30
Empty ones, yes. Consume one, get one or more. And they are refillable. It’s not a big deal. More important one about food bar imho. I'll make a video or something, when I get back from work.

[2017-05-29 21:46] Oeniarku commented on #30
https://youtu.be/QJZd_EUN5Qs

[2017-05-29 21:48] liach commented on #30
@sfPlayer1 Is this a bug from IC2?

[2017-05-30 04:34] purpleposeidon opened #31 "Architect's broken. Again."

[2017-05-30 09:20] Forecaster commented on #30
Okay, the bug is that if you're "eating" from  a stack of more than 1 filled can, you get the hunger points and empty cans for as many you have room for, but it only ever removes 1 filled can from the source stack.

[2017-05-30 14:51] Oeniarku commented on #30
Should i make another issue? To split this one in two.

[2017-05-30 19:55] liach opened #32 "Add special marker types for train stations"

[2017-05-31 08:26] CovertJaguar commented on #32
I assume you mean for atlas?

[2017-05-31 08:26] CovertJaguar commented on #31
@purpleposeidon how?

[2017-05-31 13:35] liach commented on #32
ye

[2017-05-31 18:17] purpleposeidon commented on #31
I tried making various blueprints using cobblestone, and nothing was placing. I think the previous time this happened it was only working on the client? I have not tested if this is the case.

[2017-05-31 18:27] purpleposeidon commented on #31
Yes, I have tested & it only works on the client. All regression-like.

[2017-06-01 05:59] liach opened #33 "Allow replay mod"
https://github.com/ReplayMod/ReplayMod
This may be used for recording videos. It is cool.

[2017-06-01 06:38] liach opened #34 "Allow minecrift/vivecraft"
It allows players to play minecraft in Virtual Reality.
https://github.com/jrbudda/minecrift
It already has unofficial versions for 1.10 on its discord channel.

[2017-06-01 06:41] liach opened #35 "Allow joypad mod"
It allows users to play minecraft with a game controller.
https://github.com/ljsimin/MinecraftJoypadSplitscreenMod

[2017-06-01 08:39] Terpo commented on #14
For 1.11 they are fixed. Also there is a wiki page for it https://forestryforminecraft.info/other:charcoalpit

[2017-06-01 10:51] Forecaster commented on #14
I was already aware. For 1.10 they suck however.  Which is what this issue was about.

[2017-06-01 11:00] Forecaster commented on #33
It's basically spectator mode.

[2017-06-01 17:08] hanakocz opened #36 "OMPD /OMLib commands"
There are new commands for sharing fences and so, but we don't have permissions for them

/omshareowner
/omchangeowner

https://github.com/OpenModularTurretsTeam/OMLib/tree/1.10.2/src/main/java/omtteam/omlib/util/command

Also OMLib has updates.
https://minecraft.curseforge.com/projects/omlib/files?filter-game-version=1738749986%3a572

[2017-06-02 11:46] Oeniarku opened #37 "Ye Olde Tanks crashing client"
Crafted barrel from YeOldeTanks. Immediately after placing it, my client crashed. Now, when i'm trying to connect - same error. At least i know my coordinates now.
[code]
[like this](https://github.com/shadowfacts/YeOldeTanks/issues/27)

[2017-06-02 21:36] CovertJaguar commented on #35
I use this on my other game. It works well enough. I see no reason not to allow it.

[2017-06-02 21:37] CovertJaguar commented on #31
hmm...

[2017-06-02 22:04] Oeniarku commented on #37
Nevermind. It appears only if you turn off Smooth Lighting. I was playing on a laptop. And now on my pc every thing is fine. But if i turn off Smooth Lighting - it crashes same as on a laptop. I tested it on clean 1.10.2, forge 12.18.3.2281 and YeOldeTanks-1.10.2-2.0.1 + ShadowMC-1.10.2-3.6.1. Identical error.

[2017-06-02 23:38] CovertJaguar commented on #31
Ok, should be fixed next tag.

[2017-06-02 23:38] #31 closed, assigned to CovertJaguar

[2017-06-03 00:13] Forecaster commented on #37
You should report that to the mod

[2017-06-03 00:14] Forecaster commented on #35
Yeah this one is fine

[2017-06-03 00:16] Forecaster commented on #35
Since we're not putting it in the pack though someone needs to provide the mod id for whitelisting

[2017-06-03 00:35] #33 closed, assigned to nobody

[2017-06-03 02:25] liach commented on #35
https://github.com/ljsimin/MinecraftJoypadSplitscreenMod/blob/master/MinecraftJoypadSplitscreenMod/src/main/java/com/shiny/joypadmod/JoypadMod.java#L28

[2017-06-03 02:39] Generalcamo commented on #35
@Forecaster Could add it as an optional mod for convenience.

[2017-06-03 06:01] liach opened #38 "Add a favicon"

[2017-06-03 11:24] CovertJaguar commented on #35
I don't see a license anywhere, so distributing it is probably not worth the effort.

[2017-06-03 12:05] Oeniarku commented on #37
YeOldeTanks 2.0.2 fixed

[2017-06-04 10:39] purpleposeidon commented on #23
I like it! How strict should their tolerances be? Like melons growing in glaciers doesn't make much sense, but what about in plains?

[2017-06-04 14:32] #28 closed, assigned to nobody

[2017-06-05 15:38] Forecaster opened #39 "Some subtratum plates can't be recycled"
Such as tin and iron

[2017-06-05 16:09] Forecaster opened #40 "Crash when trying to merge two Foundry handguns"
https://gist.github.com/Forecaster/aca1f23d1dea532629521fdc2b80052c

[2017-06-06 08:33] purpleposeidon opened #41 "Iron nuggets can be made by hand."
It'd be pretty silly to allow hand-made iron nuggets when gold nuggets are not.

[2017-06-06 17:28] CovertJaguar commented on #41
What? That still works? I swear I tested that....

[2017-06-06 17:29] CovertJaguar commented on #41
Hmm....hidden recipe from OpenComputers.

[2017-06-06 17:33] #41 closed, assigned to nobody

[2017-06-07 07:30] #38 closed, assigned to nobody

[2017-06-07 08:48] #15 closed, assigned to nobody

[2017-06-07 08:50] #37 closed, assigned to nobody

[2017-06-07 08:52] #35 closed, assigned to nobody

[2017-06-07 09:02] Forecaster commented on #34
Need Modid

[2017-06-07 09:03] #27 closed, assigned to nobody

[2017-06-07 21:28] Forecaster opened #42 "Railcraft plates craft into Railcraft plates"

[2017-06-07 21:29] Forecaster opened #43 "3 Witch hats to 6 glowstone is being overriden to 6 gunpowder"

[2017-06-08 02:56] liach opened #44 "These things still cannot reforge"
- [x] Chainsaw (Should use circuit)
- [x] Mining laser (Should use Advanced circuit)

There may be more to come.

[2017-06-08 14:16] Forecaster commented on #44
Done with motor and advanced alloy respectively. Reopen if more are added.

[2017-06-08 14:24] liach commented on #44
wait... Several hours ago after a restart I could use circuit and advanced circuit and I successfully got the desired qualities.

[2017-06-08 21:05] Forecaster commented on #44
Oh, it might not recognize the meta values I specified, in which case the circuits would work as well since they're the same base item as the adv alloy and the motor... I'll have to look at that tomorrow.

[2017-06-08 21:08] Forecaster opened #45 "Foundry needs a recipe to cast liquid rubber into rubber "ingots""
Because rubber is used for more than isolating cables.

[2017-06-09 11:05] Forecaster commented on #44
Seems the mod is ignoring the meta values I've specified since they appear to be correct. Reported to the author.

[2017-06-09 19:24] CovertJaguar commented on #42
Intended, it gets caught up in the ore tag and I'm not going to add a recipe a for every variant. It doesn't hurt anything, I think.... there aren't any "ingot/plate x1 => something" recipes are there?

[code]

[2017-06-09 19:24] #42 closed, assigned to nobody

[2017-06-10 11:46] Oeniarku opened #46 "Adv. Rocketry, water into liquid ender pearls. Mod needs an update."
Also works with other liquids. Fixed in later updates of rocketry (tried 1.10.2-1.2.1.jar)
[example](https://youtu.be/J214oga3P54)

[2017-06-10 23:45] CovertJaguar commented on #46
lolz

[2017-06-10 23:48] CovertJaguar opened #47 "Update Natura and Retrogen Firestone"
Natura fixed the issue with Firestone not spawning in tainted soil and heat sand. We should probably think about installing SimpleRetrogen and regening Firestone.

[2017-06-10 23:51] CovertJaguar commented on #17
Seems this has been fixed in the 1.11 version, but I see no merge into 1.10.

https://github.com/Glitchfiend/ToughAsNails/pull/253

[2017-06-11 05:39] liach opened #48 "Unable to make combustion potion"
Combustion potion from Potion Core are made by fire charge + awkward potion on brewing stands, which conflicts with ToughAsNails heat resistance potion. Currently the combustion one is overridden by the heat resistance one. Combustion potion can derive into many types of potions, such as explosive, burst potion, etc.

[2017-06-11 20:26] CovertJaguar commented on #48
Duplicate of #17

[2017-06-11 20:31] liach commented on #48
Wait a bit they are not the same

[2017-06-12 01:20] purpleposeidon opened #49 "Harvestcraft lemon saplings can be crafted despite presence of Forestry lemontrees."

[2017-06-12 09:03] liach commented on #48
So @CovertJaguar It will be creeper gland + awkward potion, right?

[2017-06-13 01:59] CovertJaguar commented on #48
Unless you think something like sulfur would be better?

[2017-06-13 02:01] liach commented on #48
Yes. Creeper gland should really make explosion potions (it is currently mixture from combustion potion and some others)

[2017-06-13 02:20] liach commented on #49
I think they are just like copper ingots from different mods.

[2017-06-13 19:11] #46 closed, assigned to nobody

[2017-06-13 19:35] #47 closed, assigned to nobody

[2017-06-14 07:24] liach commented on #48
Let's just use creeper glands.

[2017-06-14 07:28] liach commented on #17
@Forecaster I think my pull to vexatos may fix that bug.

[2017-06-16 21:36] Webcat1 opened #50 "Water Capsule from Forestry will not be consumed in a Locomotive"
Water capsule from Forestry will not be consumed in a  Locomotive. The way capsule should be destroyed, but I get back a full capsule.

[2017-06-18 23:35] Forecaster opened #51 "Reduce zombie awareness values"

[2017-06-18 23:38] Forecaster opened #52 "Disable up and down killing you at high altitudes for AR comparability"

[2017-06-18 23:44] Forecaster opened #53 "Adjust loot tables to prevent mobs dropping metals"
Also remove zombie heat to gold nugget recipe.

This will be to further discourage mob traps to harvest iron and gold and instead encourage actual mining. In mines.

[2017-06-19 01:38] Ristellise commented on #52
thsts Tough as nails doing. set the height in the configs.

[2017-06-19 01:58] liach commented on #51
What values?

[2017-06-19 04:53] CovertJaguar commented on #51
Yes, I've looked at them, I don't think they do what you want them to do. Which I assume is reduce the number of mobs.

[2017-06-19 04:55] CovertJaguar commented on #53
So....what will zombie hearts be good for then? And how will we be able to afford the gold bullets for our guns then?

[2017-06-19 04:57] liach commented on #53
@CovertJaguar Gold is extremely cheap... On my (player's) base, we have a lot of gold. You should go to a Mesa and start mining (preferably use an advanced miner)

[2017-06-19 20:16] Webcat1 opened #54 "IC2 Semifluid Generator is not craftable"
By disable the geotheral generator it is not possible to craft the semifluid generator. Bio Generator from Forestry is is not an option, because it will not accept IC2 Bio Gas

The IC2 Semifluid Generator needs a new crafting recipe

[2017-06-19 22:07] Forecaster commented on #53
My gun uses lead :P
And zombie hearts have other uses

[2017-06-20 08:10] CovertJaguar commented on #53
What other uses? You mean zombie flesh? We removed the other primary use already (charms).

[2017-06-21 18:03] hanakocz opened #55 "Update Bibliocraft"
It probably needs to incorporate into our changed version that kills all coords etc.

http://www.bibliocraftmod.com/downloads/
changelog: ( http://www.bibliocraftmod.com/changelog/ )
v2.1.2 / v2.2.2
*Everything from the BiblioCraft v1.11.6 update
*Fixed the clipboard dropping a block in addition to the clipboard item when broken
*Fixed the tape measure post dropping when broken.
*Fixed the toolrac

[2017-06-21 19:36] liach commented on #50
close this as it is a railcraft bug.

[2017-06-22 07:29] #50 closed, assigned to nobody

[2017-06-23 02:59] #48 closed, assigned to nobody

[2017-06-25 07:38] Forecaster opened #56 "Update Storage Drawers"

[2017-06-26 01:25] CovertJaguar commented on #56
Didn't we roll back because it didn't work with anything due to dropping IInventory support?

[2017-06-26 07:00] Forecaster commented on #56
Oh right. Yeah. Guess we're stuck with the bugs then.

[2017-06-27 07:03] Forecaster commented on #56
I think the version we have may already not support IInventory, because they aren't working correctly with ic2 machines or hopper ducts.

[2017-06-27 07:20] #45 closed, assigned to nobody

[2017-06-27 07:56] #54 closed, assigned to Forecaster

[2017-06-27 07:59] Forecaster commented on #52
Haha, no. It was U&D.

[2017-06-27 07:59] #52 closed, assigned to Forecaster

[2017-06-27 08:06] Forecaster commented on #51
I was going to reduce the max amounts in `ZombieAwareness/Spawning.cfg`

Specifically `I:extraSpawningSurfaceMaxCount=50`

[2017-06-27 08:11] #34 closed, assigned to nobody

[2017-06-27 10:15] Forecaster commented on #53
Done! The hearts have two other recipes. Plus, you could you know, mine for gold :P

[2017-06-27 10:16] #53 closed, assigned to Forecaster

[2017-06-27 12:31] liach commented on #53
mesas yeah!

[2017-06-29 22:30] Forecaster opened #57 "Update Ye Olde Tanks"
The visual sync issue was closed with a commit

[2017-07-03 15:39] lordebon opened #58 "Recipe conflict: iron chisel (chisel & bits) / iron binding light (crossbow mod)"
Recipe conflict - crossbow mod's iron binding light is the same recipe as the iron chisel from chisel & bits; crossbow mod's is taking precedence preventing the iron chisel from being craftable.

[2017-07-03 18:21] purpleposeidon opened #59 "My base still crashing?"

[2017-07-04 02:13] liach opened #60 "Add foundry molds for crossbow and better survival stuff"

[2017-07-04 09:10] Forecaster commented on #59
And the last time you tried logging in was when? Is this another report from a week ago like last time?

[2017-07-04 09:10] #59 closed, assigned to nobody

[2017-07-04 09:11] Forecaster commented on #60
This is an issue for the foundry devs

[2017-07-04 12:32] liach commented on #60
Hey, we build a custom foundry and added molds for crowbars, so this is @Generalcamo's stuff.

[2017-07-04 15:14] liach opened #61 "Potion config is messed up"
The config for Not Enough potions is incorrectly named. It should use spaces instead of underscores. Moreover, @Forecaster to make combustion potion actually work you need to move it into ore brewing recipes.

A fixed version is available [here](https://gist.github.com/liach/d15330e639f893af2641ed3bc5848fa3)

[2017-07-05 02:50] CovertJaguar commented on #61
I just copied your lines you gave me into the original version.

[2017-07-05 14:31] liach commented on #61
Yes, somehow the file name is wrong. See towerofawesome.org/railcraftpack/ and the files listed under the nep mod.

[2017-07-06 01:35] liach commented on #60
Also for better survival.

[2017-07-06 04:15] liach commented on #61
Fixed :heart:

[2017-07-06 04:15] #61 closed, assigned to nobody

[2017-07-08 00:24] lordebon opened #62 "AdvRocketry (libVulpes) does not accept quark chests"
E.g., input hatch - only accepts vanilla chests which requires oak. The quark chests from other vanilla woods are not accepted, looks like recipe just needs to be tweaked to oredict the chests.

[2017-07-08 16:54] Ashonee75 opened #63 "Need alternate recipes for ic2 stone dust"
Hoping to create recipes for stone dust + Water to make clay.

Thinking 8 dusts surrounding a water bucket to make 1 clay block, or maybe 2 clay balls

[2017-07-08 17:15] lordebon opened #64 "Request: Add recipes for advanced ejector/pulling upgrades"
These two upgrades that allow filtering do not have recipes by default - could custom ones be added?

4261/5
4261/7

[2017-07-13 12:40] Player3324 commented on #64
They do not have recipes due to their implementation being incomplete.

[2017-07-13 20:52] lordebon commented on #64
Thanks player - I thought I'd seen them complete but must have mixed them up with something else.

[2017-07-13 20:52] #64 closed, assigned to nobody

[2017-07-13 20:54] lordebon commented on #63
Just my 2c: Dust + water seems too easy.
What about 8 dust around a sticky resin? Give a little bit of goo to hold the dust together into clay :D

[2017-07-14 04:36] purpleposeidon opened #65 "AR pipes continue to crash the server"

[2017-07-14 17:52] liach opened #66 "Add stone tie carpenter recipe"
Now crafting stone ties need water buckets, which is a headache. I suggest to move it to carpenter recipes, where you can feed the carpenter water.

[2017-07-14 22:42] liach opened #67 "Add UU scan values for Substratum ores"
Examples are platinums, etc.

[2017-07-15 04:53] liach opened #68 "Fix scoreboard"
Scoreboard has been down for long.

[2017-07-15 04:56] liach opened #69 "mod updates"
placeable items, multi stroage, and architect need updates.

[2017-07-15 17:27] liach opened #70 "Crossbow teleport bolt"
teleport bolts? What mod?
Minecraft Server LinkBOT - Today at 9:31 AM
Server is online
Oeniarku - Today at 9:32 AM
crossbow mod

So crossbow teleport bolts crashes the server. Logs needed from @Forecaster

[2017-07-15 17:39] liach commented on #70
https://gist.github.com/Forecaster/4803a0c06d4674732fedea1851224f16

--Replaced hastebin with gist for preservation //Forecaster

[2017-07-17 17:19] Ashonee75 opened #71 "Iron Scaffolds act as fuel?"
I found out iron scaffolds act as fuel when my tunnel bore started to burn them.

Recipe is 7.5 iron ingot equivalents.  No other material.

I'm thinking it shouldn't be a valid fuel.

[2017-07-17 18:14] Ashonee75 opened #72 "Tunnel Bore Snow interaction"
As winter set in  and snow  started to form my tunnel bore was having difficulties.

I found that the bore couldn't drop gravel onto a block that had a layer of snow.  Also if snow formed after the cutting blade passed but before the bore could put down track, it would stop working.

One of these issues caused the server to stall and boot forecaster and i off.  the stalling was fixed when i broke

[2017-07-18 02:22] CovertJaguar commented on #66
This should be added to Railcraft directly.

[2017-07-18 02:23] CovertJaguar commented on #72
Hmm...the gravel thing is probably fixed, but not sure about the stalling. This should probably be a Railcraft issue.

[2017-07-19 11:12] Forecaster commented on #68
https://github.com/MightyPirates/OpenComputers/issues/2399

[2017-07-19 11:21] #69 closed, assigned to nobody

[2017-07-19 11:23] Forecaster commented on #72
@Ashonee75 please make an issue on the Railcraft tracker, link back here from it

[2017-07-19 11:29] Forecaster commented on #71
This seems to be an ic2 issue. Presumably the iron scaffolds are treated as fuel because they share the block id `ic2:scaffold` with the wooden ones.
Though if people want to burn iron I don't see a big issue with that. Wood is far easier to get.

[2017-07-19 11:36] Forecaster commented on #71
Confirmed in instance with just ic2 by the way.

[2017-07-19 11:37] Forecaster commented on #65
An official update has been applied as of today, we'll see what happens

[2017-07-19 11:45] Forecaster commented on #66
There already is a carpenter recipe
https://imgur.com/a/exesr

[2017-07-19 11:46] #66 closed, assigned to nobody

[2017-07-19 12:04] #67 closed, assigned to nobody

[2017-07-19 12:04] Forecaster commented on #67
Done

[2017-07-19 12:12] Forecaster commented on #63
Done

[2017-07-19 12:12] #63 closed, assigned to nobody

[2017-07-19 14:36] Player3324 commented on #71
Not reasonably fixable, broken vanilla burn handler takes precedence.

[2017-07-19 14:39] Forecaster commented on #71
Since this is non-critical and unfixable at the moment I'm going to close this.

[2017-07-19 14:39] #71 closed, assigned to nobody

[2017-07-21 03:38] purpleposeidon commented on #65
Just crashed. Got a log?
Here's what's just happened:
1. Observe the pipes aren't working, again.
2. Flip them all off.
3. Flip them back on one by one
4. Crash!

[2017-07-21 16:31] Forecaster commented on #65
This: https://gist.github.com/Forecaster/9f23e9d0b2d4bd2904341d98b7b02c4b

ConcurrentModificationException

[2017-07-23 22:10] purpleposeidon commented on #65
![ar-diagram](https://user-images.githubusercontent.com/150333/28503308-f8ef561e-6fb8-11e7-94cf-623f84a817ff.png)

[2017-08-07 15:58] Oeniarku opened #73 "Portion of Heat Resistance crashing client"
In order to crash one must be under hyperthermia.

[2017-08-07 17:43] Oeniarku commented on #73
Hah. Found a bunch of issues about this problem. Oldest on 4 July 2016. Is it so rare? The Nether is annoying like hell, with this bug.

Sorry for my English.

[2017-08-20 03:59] liach commented on #17
@Forecaster Close this please~~~

[2017-08-20 04:00] liach commented on #73
You can find some cold biome and get some freeze rods first to make some coolers. That might prevent crashing.

[2017-08-20 04:02] liach opened #74 "Update Antique Atlas and Extra bits manipulation"
@kenkron has just pushed a fix for atlas combining. And ebm has notifications for updates.

[2017-08-20 07:43] TehStoneMan opened #75 "Recipie conflict - Grafer x Bronze Spear"
Both the Grafter from Forestry, and the Bronze Spear from Better Survival have the same recipe. While there are ways around this, it does make crafting the grafter difficult, as the spear comes up as the default result.

[2017-08-20 22:23] Forecaster commented on #75
The grafter already has an alternate reversed recipe.

[2017-08-20 22:23] #17 closed, assigned to nobody

[2017-08-21 03:37] liach commented on #74
@Forecaster Fix this asap as it is super easy to fix

[2017-08-22 06:38] TehStoneMan commented on #75
I've checked. There does not seem to be any alternative recipe, even though I do remember there used to be one. Grafter can be made using non-vanilla sticks as it is ore-dict'ed, but the spear only accepts vanilla sticks.
Maybe it got accidentally wiped during an update?

[2017-08-22 15:41] Forecaster commented on #75
It's possible, I'll have a look

[2017-09-01 04:56] liach opened #76 "Update blibiocraft"
To fix https://github.com/Nuchaz/BiblioCraft/issues/469

You can probably merge upstream.

[2017-09-01 04:57] liach commented on #74
Done. Thanks!

[2017-09-01 04:57] #74 closed, assigned to nobody

[2017-09-08 01:11] liach opened #77 "Update Railcraft to 10.2.0 on the public server"

[2017-09-08 01:12] liach commented on #77
this also applies to the patron server.

[2017-09-15 15:32] Forecaster commented on #77
This repo is for the patron server only.

[2017-09-15 15:32] #77 closed, assigned to nobody

[2017-09-16 08:16] TehStoneMan commented on #75
As of the recent pack update 1.38 (2017-09-15 17:25), the alternative grafter recipe still seems to be missing.

[2017-09-16 08:18] TehStoneMan opened #78 "Natura Redwood un-cuttable"
Natura Redwood logs can't be cut into planks in the block cutting machine.

[2017-09-16 08:25] TehStoneMan opened #79 "Alternative wood names"
With a number of mods adding new trees, I have noticed that there is some doubling up of wood types.
I have prepared some lang files with suggested alternative names for these woods for including in the resource pack.
[assets.zip](https://github.com/Railcraft/RailcraftPatronServer/files/1308176/assets.zip)

[2017-10-09 07:04] purpleposeidon opened #80 "Rockets don't work on the server."
Also, even if they did, Up And Down And All Around would kill you anyways.

[2017-10-09 07:27] purpleposeidon opened #81 "Dilithium doesn't generate on the moon."

[2017-10-09 14:31] liach commented on #80
already known

[2017-10-22 17:21] Oeniarku opened #82 "Dynamic Surroundings usage"
If i understand it correctly, there is a whitelist of mods on the server (client side). So, is it possible to add dynamic surroundings mod to that list? Or any other mod alike.

[2017-10-28 20:12] Oeniarku opened #83 "Crashing server by logging in"
It appears that i'm crashing server by logging in.

[2017-10-29 04:24] CovertJaguar commented on #83
I looked at the logs but wasn't able to find anything. Next time you try logging in, ping me on Discord.

[2017-10-30 09:42] Forecaster commented on #82
You need to provide the mod id of any mod you'd like added to the whitelist

[2017-11-08 20:20] Ashonee opened #84 "Diet Hoppers aren't on a very good diet"
Hoppers still have full hit boxes.

Unsure if new recipe i am missing, but newly crafted and placed hoppers still have full it boxes (like vanilla).

[2017-11-09 00:29] #84 closed, assigned to nobody

[2017-11-09 00:33] Ashonee commented on #84
yeah before complaining a mod isn't working I should check and see if it is installed.

Mod doesn't work when not installed.

[2017-11-16 03:12] Ashonee opened #85 "Can't get to the moon"
So i built a rocket with a guidance computer and went into the planetary selection to fly to the moon, but Luna is not available.

[2018-02-21 16:42] NightwolfBlue commented on #56
There was an updated on Jul,4 for StorageDrawers to 1.10.2-3.7.10
I know this version works with pipes from Mekanism and Ender IO.

[2018-03-03 12:02] NightwolfBlue opened #86 "New mod - Better Builder's Wands"
https://minecraft.curseforge.com/projects/better-builders-wands

I was wondering if we can add this mod.

[2018-07-12 08:19] NightwolfBlue opened #87 "Cocobolo Wood"
Cocobolo Wood from Forestry can not be cut in the Block cutting machine.

[2018-07-12 08:34] NightwolfBlue commented on #87
I did some checking.
forestry:logs.0 and forestry:logs.1 and there fireproof version can be cut, but forestry:logs.2-7 can not. Also Natura Redwood and Bloodwood.

I hope this helps.

[2018-07-22 06:32] Generalcamo opened #88 "Add Charset"
Add the Charset mod in a later update. Begin phasing out SCM for computers and SimpleLogic gates in 1.12

[2018-07-22 06:33] Generalcamo opened #89 "Configure TAN for 1.12"
Temperature was disabled in 1.10 due to a lack of config options. 1.12 adds these options plus far more, so we can begin looking into enabling more stuff.

[2018-07-22 06:36] Generalcamo commented on #87
Duplicate of #13

[2018-07-22 06:36] #87 closed, assigned to nobody

[2018-07-22 06:37] Generalcamo commented on #13
Seems this affects far more than just vanilla wood. Look into fixing this

[2018-07-22 06:38] Generalcamo commented on #29
Charset adds graphite, see #88

[2018-07-22 06:42] Generalcamo commented on #65
Updated... -again- to hopefully fix server crashes.

[2018-08-02 17:38] NightwolfBlue opened #90 "Shared recipes"
Diamond Katana and Diamond Carving Tool share the same recipe

[2018-08-02 17:41] NightwolfBlue opened #91 "Pam's Garden"
The garden are not dropping items.

[2018-08-02 17:52] NightwolfBlue opened #92 "Tunnel Bore"
I ran my tunnel bore and didn't drop or put items in the chest carts. All items just disappear.

My setup was: Bore, chest cart, chest cart, riding cart, chest cart, and track remover.

[2018-08-03 12:03] Forecaster commented on #92
This is a Railcraft bug

[2018-08-03 12:03] #92 closed, assigned to nobody

[2018-08-05 22:22] Forecaster commented on #86
We're not adding any new mods unless absolutely necessary. Try using Architect.

[2018-08-05 22:22] #86 closed, assigned to nobody

[2018-08-05 22:24] Forecaster commented on #82
Closing due to inactivity.

[2018-08-05 22:24] #82 closed, assigned to nobody

[2018-08-05 22:24] Forecaster commented on #83
Closing due to inactivity and lack of information.

[2018-08-05 22:24] #83 closed, assigned to nobody

[2018-08-05 22:25] #80 closed, assigned to nobody

[2018-08-05 22:25] #81 closed, assigned to nobody

[2018-08-05 22:27] Forecaster commented on #65
Pressure Pipes has been added to allow avoiding using AR pipes.

[2018-08-05 22:27] #65 closed, assigned to nobody

[2018-08-05 22:28] Forecaster commented on #73
Temperature mechanic disabled until further notice, rendering this issue irrelevant.

[2018-08-05 22:28] #73 closed, assigned to nobody

[2018-08-05 22:32] Forecaster opened #93 "Re-balance Pressure Pipes Tank Wall recipe to use less titanium and more aluminium"

[2018-08-05 22:33] Forecaster opened #94 "Attempt to locate the AR asteroid configs I put together..."
...that didn't make it onto the server for some reason.

Failing that, create new asteroid configs.

[2018-08-06 21:16] NightwolfBlue commented on #91
The garden that you find in world should drop random Pam's Crops.
http://harvestcraftmod.wikia.com/wiki/Garden

[2018-08-07 06:57] Forecaster commented on #91
Obviously this broke in this update

`Pam's Harvest Craft 1.9.4h => 1.9.4j`

We could roll back to the previous version.

[2018-08-08 16:07] Generalcamo commented on #91
I can't confirm, I'm breaking Air Gardens and getting items from them.

[2018-08-08 16:56] Generalcamo opened #95 "Investigate Substratum --> Thermal Foundation/CoFHWorld data migration"
Substratum is being removed in 1.12, as Foundry now depends on Thermal Foundation instead of Substratum. The various tools and ores previously implemented by Substratum are now going to be implemented by Foundation instead, and this may be a complicated step in a migration.

[2018-08-08 17:06] Generalcamo commented on #7
No 1.12 release makes this impossible unfortunately

[2018-08-08 17:06] #7 closed

[2018-08-08 17:10] Generalcamo opened #96 "Investigate Twilight Forest for inclusion"
Twilight Forest is a staple mod that has existed for many versions. It has relatively recently been updated for 1.12. Its themes of exploration and minor magic do fit in with the thematics of our pack, however the integration may be complicated with Foundry.

[2018-08-08 17:23] liach commented on #96
I believe if we do add this mod, we should modify it. Its bosses requires some ultra op items from that mod to beat, and I want to see more possibilities

[2018-08-09 05:22] NightwolfBlue opened #97 "Suggested New Mods for 1.12"
This is suggested mods for the 1.12 update. Feel free to add any suggests here.

Headcrumbs
https://minecraft.curseforge.com/projects/headcrumbs
Hats
https://minecraft.curseforge.com/projects/hats
Hat Stand
https://minecraft.curseforge.com/projects/hat-stand
Fast Leaf Decay
https://minecraft.curseforge.com/projects/fast-leaf-decay
Bonsai Trees - 1.12
https://minecraft.curseforge.com/projects/bonsa

[2018-08-09 05:40] Generalcamo commented on #97
Personal Evaluation:
- Farming for Blockheads conflicts with some Railcraft features, will need configuration
- Immersive Engineering was previously rejected, but we can re-evaluate it later
- Headcrumbs is a fun mod. Probably not thematically compatible, but neither is Flamingo...
- Iron chests was previously rejected for making storage way too easy. I'm inclined to agree.
- Hats (and hat stand)

[2018-08-09 06:13] Forecaster commented on #91
I've noticed desert/arid gardens (the small cacti with the red thing on them) don't drop fruits anymore. So it's confirmed that at least some gardens have no drops anymore.

[2018-08-09 07:46] NightwolfBlue commented on #13
I did some checking.
forestry:logs.0 and forestry:logs.1 and there fireproof version can be cut, but forestry:logs.2-7 can not. Also Natura Redwood and Bloodwood.

I hope this helps.

[2018-08-10 18:40] NightwolfBlue commented on #91
I believe it was gourd and ground that didn't work for me

[2018-08-15 15:53] Generalcamo commented on #91
Fixed in next update

[2018-08-15 15:53] #91 closed, assigned to nobody

[2018-08-15 15:55] #16 closed, assigned to nobody

[2020-03-02 23:10] NightwolfBlue opened #98 "Mod for 1.12 pack"
[Old]
Advanced Machines
Ambidextrous
Antique Atlas
AppleCore
AppleSkin
Architect
Auto Sappling         - AutoPlant
Baubles
BetterFPS
Bibliocraft
Biome Tweaker
Biomes O' Plenty
Bullseye
Chisel
Chisels & Bits
Cooking For Blockheads
CoroUtil
CraftTweaker
Cyberware.            - Robotic Parts
DiscordChat
Dynamic Lights
Earthworks
Extra bit Manipulation
Flat Coloured Blocks
FoamFix (Anarchy)
Forestry
I